<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Remote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="mstcsF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Remote.Properties.Settings>
            <setting name="deleteFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tcpPingFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullScreenFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSHFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSHMethodFlag" serializeAs="String">
                <value>Putty</value>
            </setting>
            <setting name="SSHLowPingFlag" serializeAs="String">
                <value>True</value>
            </setting>
        </Remote.Properties.Settings>
        <mstcsF.Properties.Settings>
            <setting name="deleteFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tcpPingFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullScreenFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SSHFlag" serializeAs="String">
                <value>True</value>
            </setting>
        </mstcsF.Properties.Settings>
    </userSettings>
</configuration>
